<div class="container mx-auto max-w-screen-lg py-8">
  <h1 class="text-2xl font-bold mb-6">Messages</h1>
  
  <% if @users.any? %>
    <div class="bg-white rounded-lg shadow-md">
      <div class="p-4 divide-y divide-gray-200">
        <% @users.each do |user| %>
          <%= link_to conversation_path(user), class: "block py-3 hover:bg-gray-50 transition duration-150" do %>
            <div class="flex items-center">
              <div class="ml-3">
                <p class="text-sm font-medium text-gray-900"><%= user.email %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <p class="text-gray-500">Aucun autre utilisateur disponible pour discuter.</p>
  <% end %>
</div>
